<% if user_signed_in? %>
	<h1>Hello, World!</h1>
	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "sign_out_link" %></li>
 <% else %>
 	<h1>Welcome!</h1>
 	<%= link_to "Sign In", new_user_session_url %></li>
<% end %>
